@custom-or-default-color:#409F89;
@pallete-darker-custom-color-bg: darken(@custom-or-default-color, 3%);


//background-clor & text color control according to different column

@size-1-bg:#ccc;
@size-1-text:#464646;
@size-2-1-bg:#f7f4e5;
@size-2-1-body:#464646;
@size-2-1-title:#464646;
@size-2-2-bg:#e0a78f;
@size-2-2-inner-bg:#e0a78f;
@size-2-2-body:#464646;
@size-2-2-title:#464646;
@size-3-1-body:#464646;
@size-3-1-title:#464646;
@size-3-1-bg:#a3a3a3;
@size-3-2-body:#464646;
@size-3-2-title:#464646;
@size-3-2-bg:#ccc;
@size-3-3-bg:#6F6C6C;
@size-3-3-body:#313131;
@size-3-3-title:#464646;
@size-2-2-inner-border:0;
@size-2-2-b-radius:0;
@pop-bg-color:#e0e0e0;
@footer-color:darken(@pop-bg-color,10%);
@pattern-background: url("@{base-url}/images/pattern-light.png");
@link-color: darken(@custom-color,5%);